
@media screen and (max-width: 1140px) {
  .container {
    margin: 0 4%;
  }

/*orange line under section name*/
  h2::after { 
    width: 20vw;
  }
}

@media screen and (max-width: 990px) {

  .cities-description {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .city {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
}

@media screen and (max-width: 768px) {

  h2::after {
    width: 20vw;
  }

  .hero-text-box {
    width: 90%;
  }

  .logo img {
    width: 75px;
  }

  .testimonials {    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
  }

  .testimonials blockquote {
    -ms-flex-preferred-size: 74%;
        flex-basis: 74%;
    margin-bottom: 9%;
  }

  .testimonials blockquote:last-child {
    margin-bottom: 0;
  }

  .testimonials blockquote::before {
    top: -6px;
    font-size: 350%;
  }

  .section-steps .container, 
  .features-description,
  .plans,
  .testimonials {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .section-steps .container>div:first-of-type {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin: auto;
  }

  .city {
    margin-bottom: 5%;
  }

  .section-steps .container>div:nth-of-type(2) {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }

  .features-description div {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }

  .contact-form {
    width: 80%;
  }

  .contact-form label {
    display: inline-block;
    margin-bottom: 3%;
    font-size: 120%;
  }

  .contact-form :not(label) {
    font-size: 110%;
  }

  input:not([type="checkbox"]):not([type="submit"]),
  select,
  textarea {
    display: block;
    width: 90%;
    margin-left: 0;
    margin-bottom: 5%;
  }

  .card_ {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    margin: 4% auto;
  }
}

@media screen and (max-width: 550px) {

  section {
    padding: 10% 0;
  }

  .hero-text-box h1 {
    font-size: 180%;
    width: 100%;
  }

  .butn {
    margin-left: 2%;
    margin-bottom: 5%;
  }

  .container,
  .section-title {
    max-width: 90%;
    margin: auto;
  }
  
  h2 {
    font-size: 150%;
  }

  .main-nav {
    height: 0;
    opacity: 0;
  }

  .responsive .fl-nav {
    display: block;
    position: relative;
  }

  .responsive .main-nav {
    display: block;
    margin-top: 5vh;
    font-size: 20px;
    opacity: 1;
    height: 20vh;
    -webkit-transition: height 0.4s, opacity 0.4s linear;
    transition: height 0.4s, opacity 0.4s linear;
  }

  .responsive .main-nav li a {
    display: inline-block;
  }

  .nav-icon {
    display: inline-block;
    position: absolute;
    top: 2.5vh;
    right: 5.5vw;
  }

  .sticky .nav-icon {
    top: 1.5vh;
  }

  .logo img {
    width: 50px;
  }

  .section-steps .container>div:first-of-type {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
    margin: 4% auto;
  }

  .section-steps .container>div:nth-of-type(2),
  .features-description div,
  .testimonials blockquote,
  .city  {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
  }

  .section-steps .container>div:nth-of-type(2) {
    text-align: center;
  }

  .features-description div {
    margin: 0 auto 5%;
  }

  .features-description div:last-child {
  margin-bottom: 0px;
  }

  small {
    padding-top: 2%;
  }

  .card_ {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
    margin: 4% auto;
  }

  .section-steps h2 {
    max-width: 80%;
  }

  .work-step p {
    margin-bottom: 8%;
    margin-left: 26%;
  }

  .btn-app img {
    height: 39px;
  }

  .city {
    margin: 3% auto;
  }

  .section-meals {
    display: none;
  }

  .long {
    font-size: 100%;
  }

  .fa-twitter:before {
    content: "\f099";
    position: relative;
    left: 2px;
  }

  .section-cities span {
    margin-left: 3%;
  }

  .section-cities .fa-user+span {
    margin-left: 4%;
  }
 
  .testimonials blockquote::before {
    top: -8px;
    font-size: 200%;
  }

  .contact-form label {
    font-size: 105%;
    width: 90%;
  }
  
  input[type="checkbox"] {
    margin: 0 2% 2% 0%;
  }

  .contact-form label[for="newsletter"] {
    display: block;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 320px) {

  .main-nav {
    display: block;
    margin-top: 5vh;
    font-size: 20px;
  }

  nav {
    position: relative;
    width: 100%;
    padding: 0 3%;
    background-color: rgba(67, 70, 72, 1);
    z-index: 10;
  }

  header .container {
    max-width: 100%;
    margin: 0;
  }

}